
export(	
## kernel functions
	"rbfdot",
	"laplacedot",
	"besseldot",
	"polydot",
	"tanhdot",
	"vanilladot",
	"anovadot",
	"kernelMatrix",
	"kernelMult",
	"kernelPol",
	"kernelFast",
	
## High level functions 
	"kpca",
	"kcca",
	"specc",
	"ksvm",
	"rvm",
	"gausspr",
	"ranking",
	

## Utility functions
	"ipop",
	"chol.reduce",
	"couple",
	"sigest",
## Accessor functions
	## VM
	"type",
	"prior",
	"alpha",
	"alphaindex",
	"coeff",
	"kernelf",
	"kpar",
	"scaling",
	"xmatrix",
	"ymatrix",
	"fit",
	"lev",
	"kcall",
	"error",
	"cross",
	"SVindex",
	"RVindex",
	"prob.model",
	"b",
##        "margin",

	## kpca
	"rotated",
	"eig",
	"pcv",
	
	## ipop
	"primal",
	"dual",
	"how",

 	# kcca
	"kcor",
	"xcoef",
        "ycoef",
	"xvar",
	"yvar",
	
	## specc
	"size",
	"centers",
	"withinss",
		
	## rvm
	"mlike",
	"nvar",

	## ranking
	"convergence",
	"edgegraph",
	

	## onlearn
	"onlearn",
	"inlearn",
	"buffer",
	"rho",

	## kfa
	"kfa",
	
	## inc.chol
	"pivots",
	"diag.residues",
	"maxresiduals")

import(methods)
importFrom("stats","predict")
importFrom("graphics","plot")

exportMethods(predict,show,plot)

exportClasses("ksvm",  "rvm", "ipop", "gausspr", "kpca", "kcca","kernel", "rbfkernel","laplacekernel", "besselkernel", "tanhkernel","polykernel","vanillakernel", "anovakernel", "specc", "ranking","inc.chol","onlearn", "kfa")

useDynLib("kernlab")
	
